<%= form_with model: [post, Comment.new(post_id: post.id)], local: true do |f| %>
  <div class="field">
    <%= f.label :name, class: "label" %>
    <div class="control">
      <%= f.text_field :name, class:"input" %>
    </div>
  </div>
  <div class="field">
    <%= f.label :content,"Leave a comment", class: "label" %>
    <div class="control">
      <%= f.text_area :content, class: "textarea", rows:5, placeholder: "Your comment..." %>
    </div>
  </div>
  <div class="control buttons">
    <%= f.submit "Comment", class: "button is-warning" %>
    <%= f.submit "Cancel", type: :reset, class: "button" %>
  </div>
  <div class="control">
  </div>
<% end %>