<div class="container">
  <div class="columns is-desktop">
    <div class="column  mr-3">
      <div class="level ">
        <div class="level-left">
          <h1 class="title"><%= @post.title%></h1>
        </div>
        <div class="level-right">
          <p>Date: <%= (@post.updated_at).strftime("%d %b %Y") %></p>
        </div>
      </div>
      <%= simple_format(@post.content, class: "mb-5") %>
    </div>
    <div class="column is-one-fifth">
      <div class="menu mt-2">
        <div class="menu-label">
          Actions
        </div>
        <div class="menu-list">
          <%= link_to 'Edit', edit_post_path(@post), class: "button is-dark is-outlined" %>
          <%= link_to 'Delete', post_path(@post), method: :delete, class:"button is-danger is-outlined" %>
        </div>
      </div>
    </div>
  </div>
</div>